:root {
    --ice-color: #00b7ff;
    --water-color: #00ffff;
}

/* 0 - 255; 0% - 100% */
/* UNIVERSAL SELECTOR */
/* {
    color: rgb(117, 233, 233);
}*/

body {
    background-color: rgb(95, 95, 95);
}

/* TYPE SELECTORS */
ul {
    color: rgb(144, 224, 248);
}

q {
    color: rgb(33, 123, 197);
}

h2 {
    color: rgb(15, 15, 218);
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font: italic 700 1em arial;
}

/* ID SELECTOR */
section#services {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* CLASS SELECTOR */

/* RELATIONAL SELECTOR */
section#what>ul {
    color: var(--ice-color);
}

/* DESCENDENT SELECTOR */

main em {
    color: #00b7ff;
}

section#title a:visited {
    color: #ff69b4;
}
section#title a:hover {
    color: #000000;
}

/* COMBINATION SELECTOR */
h1, h2, h3 {
    color: var(--water-color);
}